.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.animOpacity {
  animation: animation-opacity 0.25s ease-out;
}

@keyframes animation-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animation-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
